<%- include('./partials/headernav.ejs'); -%>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="img/products/gow.jpg" alt=""></td>
                    <td>God Of War</td>
                    <td>20.000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>20.000 VND</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="img/products/gow.jpg" alt=""></td>
                    <td>God Of War</td>
                    <td>20.000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>20.000 VND</td>
                </tr>
                <tr>
                    <td><a href="#"><i class="far fa-times-circle"></i></a></td>
                    <td><img src="img/products/gow.jpg" alt=""></td>
                    <td>God Of War</td>
                    <td>20.000 VND</td>
                    <td><input type="number" value="1"></td>
                    <td>20.000 VND</td>
                </tr>
            </tbody>
    </section>
    <section id="cart-add" class="section-p1">
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>60.000 VND</strong></td>
                </tr>
            </table>
            <a href="checkout.html">
                <button class="normal">Proceed to checkout</button>
            </a>
        </div>
    </section>

    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>