<%- include('./partials/headernav.ejs'); -%>


    <section id="page-header" class="about-heaer">
        <h2>Contact Us</h2>
    </section>

    <section id="form-details">
        <form action="">
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>
    </section>
     
    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>