<%- include('./partials/headernav.ejs'); -%>

<form id="addCart111">

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="img/products/deadisl.jpg" width="100%" id="MainImg" alt="">
        </div>
        <div class="single-pro-details">
            <h6>Home / Shooter</h6>
            <h4>Death Island</h4>
            <h2>20.000 VND</h2>
            <input type="hidden" name="title" value="Death Island" />
            <input type="number" name="quantity" value="1">
            <input type="hidden" name="img" value="img/products/deadisl.jpg" />

                <button
                onclick="SubForm(111)"
                class="normal"
                >Add To Cart</button> 
            <h4>Product Details</h4>
            <span>Welcome to the zombie apocalypse experience of a lifetime – and now more beautiful than ever. Caught in the midst of an epic zombie outbreak on the tropical island of Banoi, your only thought is: Survive!

            </span>
        </div>
    </section>
</form>
    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>