<%- include('./partials/headernav.ejs'); -%>

<form id="addCart222">

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="img/products/deathloop.jpg" width="100%" id="MainImg" alt="">
        </div>
        <div class="single-pro-details">
            <h6>Home / Shooter</h6>
            <h4>Death Loop</h4>
            <h2>20.000 VND</h2>
            <input type="hidden" name="title" value="Death Loop" />
            <input type="number" name="quantity" value="1">
            <input type="hidden" name="img" value="img/products/deathloop.jpg" />

                <button
                onclick="SubForm(222)"
                class="normal"
                >Add To Cart</button> 
            <h4>Product Details</h4>
            <span>DEATHLOOP is a next-gen FPS from Arkane Lyon, the award-winning studio behind Dishonored. In DEATHLOOP, two rival assassins are trapped in a mysterious timeloop on the island of Blackreef, doomed to repeat the same day for eternity.


            </span>
        </div>
    </section>
</form>
    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>