<%- include('./partials/headernav.ejs'); -%>
<form id="addCart88">

    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="img/products/elden.jpg" width="100%" id="MainImg" alt="">
        </div>
        <div class="single-pro-details">
            <h6>Home / RPG</h6>
            <h4>Elden Ring</h4>
            <h2>20.000 VND</h2>
            <input type="hidden" name="title" value="Elden Ring" />
            <input type="number" name="quantity" value="1">
            <input type="hidden" name="img" value="img/products/elden.jpg" />

                <button
                onclick="SubForm(88)"
                class="normal"
                >Add To Cart</button> 
            <h4>Product Details</h4>
            <span>THE NEW FANTASY ACTION RPG. Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.</span>
        </div>
    </section>
</form>
    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>