<%- include('./partials/headernav.ejs'); -%>
    
    <section id="product1" class="section-p1">
        <h2>Action Adventure</h2>
        <p>An action-adventure game is a video game hybrid genre that combines core elements from both the action game and adventure game genres</p>
        <div class="pro-container">
            <div class="pro">
                <a href='/gow' alt=''><img src="img/products/gow.jpg" alt=""></a>
                <div class="des">
                    <span>Santa Monica Studio</span>
                    <h5>God Of War</h5>
                    <form id="addCart1">
                        <input type="hidden" name="title" value="God Of War" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/gow.jpg" />
                       
                        <button
                        onclick="SubForm(1)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
                
            </div>
        
            <div class="pro" >
                <a href='/wolong' alt=''><img src="img/products/wolong.jpg" alt=""></a>
                <div class="des">
                    <span>Koei Tecmo</span>
                    <h5>Wo Long: Fallen Dynasty</h5>
                    <form id="addCart2">
                        <input type="hidden" name="title" value="Wo Long: Fallen Dynasty" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/wolong.jpg" />
                       
                        <button
                        onclick="SubForm(2)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro" >
                <a href='/re4' alt=''><img src="img/products/re4.jpg" alt=""></a>
                <div class="des">
                    <span>Capcom</span>
                    <h5>Resident Evil 4 Remake</h5>   <form id="addCart3">
                        <input type="hidden" name="title" value="Resident Evil 4 Remake" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/re4.jpg" />
                       
                        <button
                        onclick="SubForm(3)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro" >
                <a href='/hogwarts' alt=''><img src="img/products/hogwarts.jpg" alt=""></a>
                <div class="des">
                    <span>WB Games</span>
                    <h5>Hogwarts Legacy</h5>
                    <form id="addCart4">
                        <input type="hidden" name="title" value="Hogwarts Legacy" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/hogwarts.jpg" />
                       
                        <button
                        onclick="SubForm(4)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            
        </div>
    </section>
 
    <section id="product1" class="section-p1">
        <h2>RPG</h2>
        <p>A role-playing game is a game in which players assume the roles of characters in a fictional setting</p>
        <div class="pro-container">
            <div class="pro" >
                <a href='/FF' alt=''>                <img src="img/products/FF.jpg" alt="">
                </a>
                <div class="des">
                    <span>Square Enix</span>
                    <h5>Final Fantasy XVI</h5>
                    <form id="addCart5">
                        <input type="hidden" name="title" value="Final Fantasy XVI" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/FF.jpg" />
                       
                        <button
                        onclick="SubForm(5)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro" >
                <a href='/diablo' alt=''>                                <img src="img/products/diablo.jpg" alt="">

                </a>
                <div class="des">
                    <span>Action RPG</span>
                    <h5>Diablo IV</h5>
                    <form id="addCart6">
                        <input type="hidden" name="title" value="Diablo IV" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/diablo.jpg" />
                       
                        <button
                        onclick="SubForm(6)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         

            </div>
            <div class="pro" >
                <a href='/witcher3' alt=''>                                <img src="img/products/witcher3.jpg" alt="">

                </a>
                <div class="des">
                    <span>CD Projekt RED</span>
                    <h5>The Witcher 3: Wild Hunt</h5>
                    <form id="addCart7">
                        <input type="hidden" name="title" value="The Witcher 3: Wild Hunt" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/witcher3.jpg" />
                       
                        <button
                        onclick="SubForm(7)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            
            </div>
            <div class="pro" >
                <a href='/elden' alt=''>                                <img src="img/products/elden.jpg" alt="">

                </a>
                <div class="des">
                    <span>Bandai Namco Games</span>
                    <h5>Elden Ring</h5>
                    <form id="addCart8">
                        <input type="hidden" name="title" value="Elden Ring" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/elden.jpg" />
                       
                        <button
                        onclick="SubForm(8)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Shooter</h2>
        <p>Shooter video games or shooters are a subgenre of action video games where the focus is almost entirely on the defeat of the character's enemies using the weapons given to the player</p>
        <div class="pro-container">
            <div class="pro">
                <a href='/atom' alt=''>                                <img src="img/products/atom.jpg" alt="">

                </a>
                <div class="des">
                    <span>Maximum Games</span>
                    <h5>Atomic Heart</h5>
                    <form id="addCart9">
                        <input type="hidden" name="title" value="Atomic Heart" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/atom.jpg" />
                       
                        <button
                        onclick="SubForm(9)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro">
                <a href='/deadisl' alt=''>                                <img src="img/products/deadisl.jpg" alt="">
                </a>
                <div class="des">
                    <span>Deep Silver</span>
                    <h5>Dead Island 2</h5>
                    <form id="addCart10">
                        <input type="hidden" name="title" value="Dead Island 2" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/deadisl.jpg" />
                       
                        <button
                        onclick="SubForm(10)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro">
                <a href='/deathloop' alt=''>                               <img src="img/products/deathloop.jpg" alt="">
                </a>
                <div class="des">
                    <span>Bethesda Softworks</span>
                    <h5>Deathloop</h5>
                    <form id="addCart12">
                        <input type="hidden" name="title" value="Deathloop" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/deathloop.jpg" />
                       
                        <button
                        onclick="SubForm(12)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            <div class="pro">
                <a href='/cod' alt=''>                                               <img src="img/products/cod.jpg" alt="">

                </a>
                <div class="des">
                    <span>Activision</span>
                    <h5>Call of Duty: Modern Warfare II</h5>
                    <form id="addCart13">
                        <input type="hidden" name="title" value="Call of Duty: Modern Warfare II" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="img" value="img/products/cod.jpg" />
                       
                        <button
                        onclick="SubForm(13)"
                        class="fas fa-shopping-cart cart"
                        ></button> 
                </form>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>20.000 VND</h4>
                </div>         
            </div>
            
        </div>
    </section>
    
    <script src="script.js"></script> <!-- Link voi script-->
</body>
</html>